html,
body {
  background-color: #21232a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif, Times, serif, 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  background-color: rgb(12, 148, 53);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 10px;
}
